In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [2]:
data_bunch = load_boston()

In [3]:
print(data_bunch['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [4]:
data_bunch.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [5]:
X = pd.DataFrame(data_bunch['data'], columns = data_bunch['feature_names'])
X.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14

In [6]:
for col in X.columns:
    print(F"Column - {col} # of unique items is : {len(X[col].unique())} \n")

Column - CRIM # of unique items is : 504

Column - ZN # of unique items is : 26

Column - INDUS # of unique items is : 76

Column - CHAS # of unique items is : 2

Column - NOX # of unique items is : 81

Column - RM # of unique items is : 446

Column - AGE # of unique items is : 356

Column - DIS # of unique items is : 412

Column - RAD # of unique items is : 9

Column - TAX # of unique items is : 66

Column - PTRATIO # of unique items is : 46

Column - B # of unique items is : 357

Column - LSTAT # of unique items is : 455

In [7]:
for col in ['RAD','CHAS']:
    X[col] = X[col].astype('int')
    X[col] = X[col].astype('category')

In [8]:
X['y'] = data_bunch['target']
X.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,y
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

In [14]:
for col in X: print(F" '{col}' : '{X[col].dtype}',  \n ")

 'CRIM' : 'float64',

 'ZN' : 'float64',

 'INDUS' : 'float64',

 'CHAS' : 'category',

 'NOX' : 'float64',

 'RM' : 'float64',

 'AGE' : 'float64',

 'DIS' : 'float64',

 'RAD' : 'category',

 'TAX' : 'float64',

 'PTRATIO' : 'float64',

 'B' : 'float64',

 'LSTAT' : 'float64',

 'y' : 'float64',

In [15]:
X.to_csv('boston_house_prices.csv', index = False)